<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show This Ticket</title>
    <style>
        div{
            background: coral;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
<h3>Show This Ticket</h3>
<br>
<div><strong>Hello User </strong><ins th:text="${NameUser}"></ins></div>
<hr>
<br>
<table border="1">
    <tr>
        <td>Id</td>
        <td th:text="${ticket.id}"></td>
    </tr>
    <tr>
        <td>Number place</td>
        <td th:text="${ticket.place}"></td>
    </tr>
    <tr>
        <td>City finish</td>
        <td th:text="${ticket.busFlight.finishCity}"></td>
    </tr>
    <tr>
        <td>Passenger's lastname</td>
        <td th:text="${ticket.passenger.lastname}"></td>
    </tr>
    <tr>
        <td>Passenger's name</td>
        <td th:text="${ticket.passenger.name}"></td>
    </tr>
    <tr>
        <td>User</td>
        <td th:text="${ticket.user.Username}"></td>
    </tr>
</table>
<br>

<!--        удаление билета(пассажир сдал билет)-->

<form th:method="DELETE" th:action="@{/user/action/deleteThisTicket/{id}(id=${ticket.getId()})}" th:object="${ticket}">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <p><input type="submit" value="DELETE"/></p>
</form>
<br>
<hr>
<br>
<a href="/show/allTicketsUser">Шаг назад</a>
<br>
<a href="/menu">Возврат в меню приложения.</a>
<br>
<a href="/logout">Разлогинивание</a>
</body>
</html>