<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Show all bus flights</title>
    <style>
        p{
            background: coral;
            display: inline-block;
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>
</head>
<body>
<h3>Show all bus flights</h3>
<br>
<hr>
<p><strong>Hello User </strong>
    <ins th:text="${NameUser}"></ins>
    :)
</p>
<br>
<table border="1">
    <tr style="background: silver">
        <td>id bus flight</td>
        <td>Finish city</td>
        <td>Time departure</td>
        <td>Amount seats</td>
        <td>Free seats</td>
        <td>Buy ticket</td>
    </tr>
    <tr th:each="busFlight:${AllBusFlights}">
        <td th:text="${busFlight.id}"></td>
        <td th:text="${busFlight.finishCity}"></td>
        <td th:text="${busFlight.changeThisDateInString}"></td>
        <td th:text="${busFlight.seats}"></td>
        <td th:text="${busFlight.freeSeats}"></td>
        <td ><div th:if = "${busFlight.freeSeats>0}"><a th:href="@{/user/action/newTicket/{id}(id=${busFlight.getId()})}" th:text="${ThisBusFlights}"></a></div>
        <div th:if = "${busFlight.freeSeats<1}"><div style="background: red" th:text="${NotSeats}"></div></div>
        </td>
    </tr>
</table>
<br>
<hr>
<br>
<a href="/show/allTicketsUser">Список моих билетов</a>
<br>
<a href="/menu">Возврат в меню приложения.</a>
<br>
<a href="/logout">Разлогинивание</a>
</body>
</html>